@model demoForm.Models.queSet

@{
    Layout = null;
    ViewBag.Title = "DeleteNew";
}


    <h4 align="left">Are you sure you want to delete this?</h4>
    <div class="row" align="left">
        <div class="col-md-10">
            @if (ViewBag.Message1 != null)
            {
                foreach (var item in ViewBag.Message1.Keys)
                {

                    var value = ViewBag.Message1[item];

                    if (item.Contains("ImageUpload"))
                    {
                        <div>

                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                            <img src=@value style="margin:10px" height="200" width="200" class="imageview" />
                        </div>

                    }

                    if (item.Contains("que"))
                    {

                        <div>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Html.DisplayFor(modelItem => value)
                        </div>
                    }


                    if (item.Contains("opRBO"))
                    {

                        <div>
                            <input type="radio" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)

                        </div>

                    }
                    if (item.Contains("opCBO"))
                    {
                        <div>
                            <input type="checkbox" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)

                        </div>

                    }
                    if (item.Contains("opTIO"))
                    {
                        <div>

                            <input id="Text1" value=@value>

                        </div>
                    }

                    if (item.Contains("opIUO"))
                    {
                        <div>
                            <input type="checkbox" disabled="disabled" id="myRadio3">
                            @Html.DisplayFor(modelItem => value)

                        </div>

                    }
                    if (item.Contains("opURO"))
                    { <div class="col-md-1">

                            <button type="button" class="btnrating btn btn-default" data-attr="1" id="rating-star-1">
                                <i class="glyphicon glyphicon-star" aria - hidden="true"></i>
                            </button>


                        </div>
                    }
                    if (item.Contains("opIQO"))
                    {
                      <div>
                          <input id="Text1" value=@value>

                      </div>

                    }

                }
            }
        </div>
            @using (Html.BeginForm("DeleteNewConfirmed", "ques"))
            {
                @Html.AntiForgeryToken()
                <div>
                    <input hidden type="text" name="id" value=@ViewBag.id>
                </div>
                <div class="form-actions no-color form-group col-md-2">
                    <button value="Delete" class="btn btn-default">
                        <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
                    </button>


                </div>
            }
        </div>

