@{
    Layout = null;
    ViewBag.Title = "viewNew";
}


<h2>Questions</h2>
<div class="row">
    <div class="col-md-12">


        @if (ViewBag.Message1 != null)
        {
            var Qcount = 0;
            var Odel = "";
            var Qdel = "";
            foreach (var item in ViewBag.Message1.Keys)
            {

                var value = ViewBag.Message1[item];


                if (item.Contains("ID"))
                {
                    Qcount++;
                    var del = "del" + Qcount;
                    var edit = "edit" + Qcount;
                    Odel = "Odel" + Qcount;
                    Qdel = "Qdel" + Qcount;
                    ViewBag.Qcount = Qcount;

                    <div align="right">
                        <button data-dividdel=@del data-dividedit=@edit data-qid=@Qdel data-oid=@Odel class="deletButton btn btn-default">
                            <span class=" glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>


                        <button data-dividdel=@del data-dividedit=@edit data-qid=@Qdel data-oid=@Odel class="editButton btn btn-default">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>



                        <div id=@del>@Html.Action("DeleteNew", new { id = value })</div>
                        <div id=@edit>@Html.Action("EditNew", new { id = value })</div>
                    </div>

                }

                if (item.Contains("que"))
                {
                    <div class="col-md-12">
                        
                    </div>
                    <div class="col-md-12">
                        <div class=@Qdel align="left">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> @Html.DisplayFor(modelItem => value)
                        </div>
                    </div>
                }

                if (item.Contains("opRBO"))
                {

                    <div class=@Odel align="left">
                        <input type="radio" disabled="disabled" id="myRadio3">
                        @Html.DisplayFor(modelItem => value)

                    </div>

                }
                if (item.Contains("opCBO"))
                {
                    <div class=@Odel align="left">
                        <input type="checkbox" disabled="disabled" id="myRadio3">
                        @Html.DisplayFor(modelItem => value)

                    </div>

                }
                if (item.Contains("opTIO"))
                {
                    <div class=@Odel align="left">

                        <input id="Text1" value=@value >

                    </div>
                }

                if (item.Contains("opIUO"))
                {
                    <div class=@Odel align="left">
                        <input type="checkbox" disabled="disabled" id="myRadio3">
                        @Html.DisplayFor(modelItem => value)

                    </div>

                }
                if (item.Contains("opURO"))
                { <div class="col-md-1">
                        <div class=@Odel align="left">
                            <button type="button" class="btnrating btn btn-default" data-attr="1" id="rating-star-1">
                                <i class="glyphicon glyphicon-star" aria - hidden="true"></i>
                            </button>

                        </div>
                    </div>
                }


            }
        }

    </div>
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
    $(document).ready(function () {
        for (var i = 1; i <=@(ViewBag.Qcount); i++) {
            $("#del" + i).hide();
            $("#edit" + i).hide();
            
        }

        //$("#del1").hide();
        $('.deletButton').click(function () {
            var dividdel = $(this).attr('data-dividdel')
            var dividedit = $(this).attr('data-dividedit')
            var qid = $(this).attr('data-qid')
            var oid = $(this).attr('data-oid')
            
            $("#" + dividdel).show();
            $("#" + dividedit).hide();
            $('.' + qid).hide();
            $('.' + oid).hide();

        });

        $('.editButton').click(function () {
            var dividedit = $(this).attr('data-dividedit')
            var dividdel = $(this).attr('data-dividdel')
            var qid = $(this).attr('data-qid')
            var oid = $(this).attr('data-oid')

            $("#" + dividedit).show();
            $("#" + dividdel).hide();
            $('.' + qid).hide();
            $('.' + oid).hide();

        });


    });
        </script>
